---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import { marked } from "marked";

// Get the intro entry
const introEntry = await getEntry("pages", "verano-intro");
const { title: introTitle, intro } = introEntry.data;

// Get the teachers entry
const teachersEntry = await getEntry("pages", "verano-profesorado");
const { title: teacherTitle, teachers } = teachersEntry.data;

// Get the documents entry
const descargaEntry = await getEntry("pages", "verano-descargas");
const { title: documentTitle, documents } = descargaEntry.data;
---

<Layout>
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <!-- Header Section -->
      <article class="mt-16 mb-20 flex items-center">
        <h1 class="text-4xl font-semibold">Aula viva - Escola d'estiu</h1>
      </article>

      <!-- Intro Section -->
      <article class="mb-16 relative flex gap-6">
        <h1 class="mb-20 h-fit w-1/5 text-2xl font-semibold sticky top-20">
          {introTitle}
        </h1>
        <div class="marked w-3/5 text-lg">
          <p set:html={marked(intro)} />
        </div>
      </article>

      <!-- Teachers Section -->
      <article class="mb-16 relative flex gap-6">
        <h1 class="mb-20 h-fit w-1/5 text-2xl font-semibold sticky top-20">
          {teacherTitle}
        </h1>

        <div class="w-3/5">
          {
            teachers.map((teacher: any) => (
              <div class="mb-12">
                <h2 class="mb-6 text-2xl font-semibold">{teacher.name}</h2>
                <div class="flex gap-6 items-start">
                  <img
                    src={teacher.image}
                    alt={teacher.image_alt}
                    class="min-w-48 h-48 object-cover overflow-hidden rounded mt-1"
                  />
                  <div class="marked text-lg">
                    <p set:html={marked(teacher.description)} />
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </article>

      <!-- Documents Section -->
      <article class="mb-16 relative flex gap-6">
        <h1 class="mb-20 h-fit w-1/5 text-2xl font-semibold sticky top-20">
          {documentTitle}
        </h1>
        <div class="w-3/5">
          {
            documents.map((docItem: any) => (
              <a
                href={docItem.doc}
                download
                class="mb-6 py-4 px-6 border rounded-full inline-flex gap-4 items-center justify-start hover:bg-blue-300 transition-colors duration-300 bg-gray-200"
              >
                <span class="text-lg font-semibold">{docItem.name}</span>
                <img
                  class="w-6"
                  src="/icons/download-document.svg"
                  alt="download document icon"
                />
              </a>
            ))
          }
        </div>
      </article>
    </Container>
  </main>
</Layout>
