---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import { marked } from "marked";

const inicioEntry = await getEntry("pages", "verano-profesorado");
const { title, teachers } = inicioEntry.data;
---

<Layout>
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <article class="flex items-center">
        <h1 class="mb-4 text-2xl">Escuela verano</h1>
      </article>

      <article>
        <h1 class="mb-4 text-2xl">{title}</h1>

        {
          teachers.map((teacher: any) => (
            <div class="mb-6">
              <h2 class="mb-4 text-xl font-semibold">{teacher.name}</h2>
              <div class="flex gap-6 items-start">
                <img
                  src={teacher.image}
                  alt={teacher.image_alt}
                  class="aspect-square w-full max-w-40 filter grayscale overflow-hidden rounded-lg"
                />
                <div class="marked">
                  <p set:html={marked(teacher.description)} />
                </div>
              </div>
            </div>
          ))
        }
      </article>
    </Container>
  </main>
</Layout>
