---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import presentation from "@/data/presentation";
import Container from "@/components/Container.astro";

// import PostCard from "@/components/PostCard.astro";
// import Link from "@/components/shared/Link.astro";
// import Splide from "@/components/Splide.astro";

const posts = await getCollection("posts");
---

<Layout>
  <main class="flex flex-col gap-20 overflow-hidden">
    <article
      class="flex flex-col gap-8 min-h-[100dvh]"
      transition:name="myArticle"
    >
      <Container>
        <div class="mt-32 mb-20">
          <h1 class="mb-4 text-8xl italic">{presentation.title}</h1>
          <div class="flex gap-6">
            <p
              class="mb-4 text-3xl max-w-4xl w-2/3"
              set:html={convertAsteriskToStrongTag(presentation.description)}
            />

            <p class="mb-4 text-l max-w-4xl w-1/3">
              Contamos con tres iniciativas educativas: la escuela de arte EL
              TRAÇ, la escuela de verano XXXXXX y la Asociación sin ánimo de
              lucro TOT TEATRE, que integra la escuela de teatro junto a
              diversos grupos de teatro amateur. Cada una de estas propuestas se
              caracteriza por un trabajo honesto, meticuloso y ético.
            </p>
          </div>
        </div>
      </Container>

      <div class="shapes-container flex gap-2 p-2">
        <a
          href="/arte"
          class="shapes-item w-1/4 aspect-square relative inline-block"
          title="Arte"
        >
          <div class="shape shape-1 bg-yellow-300 absolute inset-0"></div>
          <div class="absolute inset-0 flex items-center justify-center z-10">
            <img class="w-40" src="/logos/eltrac.svg" alt="artiteatre Logo" />
          </div>
        </a>

        <a
          href="/teatro"
          class="shapes-item w-1/4 aspect-square relative inline-block"
          title="Teatro"
        >
          <div class="shape shape-2 bg-red-400 absolute inset-0"></div>
          <div class="absolute inset-0 flex items-center justify-center z-10">
            <img
              class="w-40"
              src="/logos/musicaldansa.svg"
              alt="artiteatre Logo"
            />
          </div>
        </a>

        <a
          href="/escuela"
          class="shapes-item w-1/4 aspect-square relative inline-block"
          title="Escuela de verano"
        >
          <div class="shape shape-3 bg-blue-300 absolute inset-0"></div>
          <div class="absolute inset-0 flex items-center justify-center z-10">
            <img class="w-40" src="/logos/escuela.svg" alt="artiteatre Logo" />
          </div>
        </a>

        <a
          href="/contacto"
          class="shapes-item w-1/4 aspect-square relative inline-block"
          title="Contacto"
        >
          <div class="shape shape-4 bg-green-400 absolute inset-0"></div>
          <div class="absolute inset-0 flex items-center justify-center z-10">
            <img
              class="wave w-16"
              src="/logos/hand.svg"
              alt="artiteatre Logo"
            />
          </div>
        </a>
      </div>
    </article>

    <!-- Infinite Carousel -->
    <!-- <Splide /> -->

    <!-- Blog section -->
    <!-- <article class="flex flex-col gap-8">
      <Container>
        <header class="flex w-full flex-row justify-between gap-2">
          <h2 class="text-lg">Latest posts</h2>
          <Link
            href="/posts"
            label="See all posts"
            isUnderline
            target="_self"
          />
        </header>
        {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

        <section
          class="flex flex-col gap-4 md:flex-row md:flex-wrap"
          aria-label="Latest blog posts"
        >
          {
            posts.length !== 0 &&
              posts
                .slice(0, 2)
                .map((post) => (
                  <PostCard
                    publishedAt={post.data.publishedAt}
                    title={post.data.title}
                    description={post.data.description}
                    slug={post.slug}
                  />
                ))
          }
        </section>
      </Container>
    </article> -->
  </main>
</Layout>
