---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import { marked } from "marked";
import AsideNavObserver from "@/components/shared/AsideNavObserver.astro";
import RevealImage from "@/components/shared/RevealImage.astro";
import Gallery from "@/components/Gallery.astro";
import CustomCursor from "@/components/shared/CustomCursor.astro";

// Get the intro entry
const introEntry = await getEntry("pages", "verano-intro");
const { title: introTitle, intro } = introEntry.data;

// Get the teachers entry
const teachersEntry = await getEntry("pages", "verano-profesorado");
const { title: teacherTitle, teachers } = teachersEntry.data;

// Get the documents entry
const descargaEntry = await getEntry("pages", "verano-descargas");
const { title: documentTitle, documents } = descargaEntry.data;

const sideNavigation = [
  { label: "Materias", href: "#materias" },
  { label: "Galería", href: "#galeria" },
  { label: "Información", href: "#informacion" },
  { label: "Profesorado", href: "#profesorado" },
  { label: "Documentos", href: "#documentos" },
];

const galleryConfig = {
  images: [
    {
      href: "/galleries/verano/1.jpg",
      src: "/galleries/verano/1.jpg",
      alt: "Placeholder Image 1",
    },
    {
      href: "/galleries/verano/4.jpg",
      src: "/galleries/verano/4.jpg",
      alt: "Placeholder Image 2",
    },
    {
      href: "/galleries/verano/6.jpg",
      src: "/galleries/verano/6.jpg",
      alt: "Placeholder Image 3",
    },
    {
      href: "/galleries/verano/11.jpg",
      src: "/galleries/verano/11.jpg",
      alt: "Placeholder Image 4",
    },
    {
      href: "/galleries/verano/1.jpg",
      src: "/galleries/verano/1.jpg",
      alt: "Placeholder Image 1",
    },
    {
      href: "/galleries/verano/4.jpg",
      src: "/galleries/verano/4.jpg",
      alt: "Placeholder Image 2",
    },
    {
      href: "/galleries/verano/6.jpg",
      src: "/galleries/verano/6.jpg",
      alt: "Placeholder Image 3",
    },
    {
      href: "/galleries/verano/11.jpg",
      src: "/galleries/verano/11.jpg",
      alt: "Placeholder Image 4",
    },
    {
      href: "/galleries/verano/1.jpg",
      src: "/galleries/verano/1.jpg",
      alt: "Placeholder Image 1",
    },
    {
      href: "/galleries/verano/4.jpg",
      src: "/galleries/verano/4.jpg",
      alt: "Placeholder Image 2",
    },
    {
      href: "/galleries/verano/6.jpg",
      src: "/galleries/verano/6.jpg",
      alt: "Placeholder Image 3",
    },
    {
      href: "/galleries/verano/11.jpg",
      src: "/galleries/verano/11.jpg",
      alt: "Placeholder Image 4",
    },
    {
      href: "/galleries/verano/1.jpg",
      src: "/galleries/verano/1.jpg",
      alt: "Placeholder Image 1",
    },
    {
      href: "/galleries/verano/4.jpg",
      src: "/galleries/verano/4.jpg",
      alt: "Placeholder Image 2",
    },
    {
      href: "/galleries/verano/6.jpg",
      src: "/galleries/verano/6.jpg",
      alt: "Placeholder Image 3",
    },
    {
      href: "/galleries/verano/11.jpg",
      src: "/galleries/verano/11.jpg",
      alt: "Placeholder Image 4",
    },
  ],
};
---

<style>
  .active {
    @apply bg-verano-primary;
    .arrow {
      width: 24px;
      opacity: 1;
      padding-right: 8px;
    }
  }
</style>
<Layout>
  <CustomCursor />
  <div
    class="absolute top-0 w-full h-32 z-20 bg-gradient-to-b from-verano-primary/50 to-verano-primary/0"
  >
  </div>
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <!-- Hero Section -->
      <article class="mt-36 mb-20 flex items-center">
        <h1 class="text-6xl font-semibold italic">
          Aula viva - Escola d'estiu
        </h1>
      </article>
      <article class="mb-28 scroll-mt-28">
        <!-- <h2 class="mb-8 text-4xl font-semibold italic text-verano-secondary">
          {introTitle}
        </h2> -->
        <section class="grid grid-cols-2 gap-8">
          <div
            class="aspect-video relative overflow-hidden rounded-2xl clip-path-[fill-box]"
            style="clip-path: fill-box;"
          >
            <video
              class="w-full h-full object-cover"
              loop
              autoplay
              muted
              playsinline
            >
              <source
                src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="marked text-lg">
            <p set:html={marked(intro)} />
          </div>
        </section>
      </article>

      <div class="relative flex gap-8">
        <aside class="h-fit w-1/6 sticky top-28">
          <nav id="menu-submenu">
            <ul class="flex flex-col gap-2">
              {
                sideNavigation.map((item: { label: string; href: string }) => (
                  <li
                    list-item={item.href.replace(/^#/, "")}
                    class="text-xl w-fit inline-flex items-center justify-start py-1 px-4 transition-all duration-300 rounded-full bg-verano-50 hover:bg-verano-primary"
                  >
                    <img
                      class="arrow w-0 opacity-0 transition-all duration-200"
                      src="/icons/arrow-right-bold.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <a href={item.href}>{item.label}</a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </aside>
        <div class="w-5/6">
          <!-- Materias Section -->
          <article
            data-item="observed"
            id="materias"
            class="mb-24 scroll-mt-28"
          >
            <h2
              class="mb-8 text-4xl font-semibold italic text-verano-secondary"
            >
              Materias
            </h2>

            <div class="grid grid-cols-[320px_1fr] gap-8">
              <RevealImage
                imageUrl="/teatre.jpg"
                bgColor="bg-verano-50"
                alt="A beautiful scene"
                animationDuration={1.5}
              />

              <div class="marked text-lg">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Eveniet eos ipsam iusto omnis sequi voluptatem distinctio
                  veniam obcaecati quasi, tempore necessitatibus, adipisci
                  deserunt, alias inventore rerum quisquam facilis quis
                  incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit. Eveniet eos ipsam iusto omnis sequi voluptatem
                  distinctio veniam obcaecati quasi, tempore necessitatibus,
                  adipisci deserunt, alias inventore rerum quisquam facilis quis
                  incidunt.
                </p>

                <br />
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Eveniet eos ipsam iusto omnis sequi voluptatem distinctio
                  veniam obcaecati quasi, tempore necessitatibus, adipisci
                  deserunt, alias inventore rerum quisquam facilis quis
                  incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit. Eveniet eos ipsam iusto omnis sequi voluptatem
                  distinctio veniam obcaecati quasi, tempore necessitatibus,
                  adipisci deserunt, alias inventore rerum quisquam facilis quis
                  incidunt.
                </p>

                <br />
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Eveniet eos ipsam iusto omnis sequi voluptatem distinctio
                  veniam obcaecati quasi, tempore necessitatibus, adipisci
                  deserunt, alias inventore rerum quisquam facilis quis
                  incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing
                  elit. Eveniet eos ipsam iusto omnis sequi voluptatem
                  distinctio veniam obcaecati quasi, tempore necessitatibus,
                  adipisci deserunt, alias inventore rerum quisquam facilis quis
                  incidunt.
                </p>
              </div>
            </div>
          </article>

          <!-- Gallery Section -->
          <article data-item="observed" id="galeria" class="mb-24 scroll-mt-28">
            <h2
              class="mb-8 text-4xl font-semibold italic text-verano-secondary"
            >
              Galería de imágenes
            </h2>

            <div data-cursor-text="Ver" data-cursor-color="#76FF03">
              <Gallery config={galleryConfig} />
            </div>
          </article>

          <!-- Informacion Section -->
          <article
            data-item="observed"
            id="informacion"
            class="mb-24 scroll-mt-28"
          >
            <h2
              class="mb-8 text-4xl font-semibold italic text-verano-secondary"
            >
              Información
            </h2>
            <section class="marked text-lg">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet eos ipsam iusto omnis sequi voluptatem distinctio veniam
                obcaecati quasi, tempore necessitatibus, adipisci deserunt,
                alias inventore rerum quisquam facilis quis incidunt. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos
                ipsam iusto omnis sequi voluptatem distinctio veniam obcaecati
                quasi, tempore necessitatibus, adipisci deserunt, alias
                inventore rerum quisquam facilis quis incidunt.
              </p>

              <br />
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet eos ipsam iusto omnis sequi voluptatem distinctio veniam
                obcaecati quasi, tempore necessitatibus, adipisci deserunt,
                alias inventore rerum quisquam facilis quis incidunt. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos
                ipsam iusto omnis sequi voluptatem distinctio veniam obcaecati
                quasi, tempore necessitatibus, adipisci deserunt, alias
                inventore rerum quisquam facilis quis incidunt.
              </p>

              <br />
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet eos ipsam iusto omnis sequi voluptatem distinctio veniam
                obcaecati quasi, tempore necessitatibus, adipisci deserunt,
                alias inventore rerum quisquam facilis quis incidunt. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos
                ipsam iusto omnis sequi voluptatem distinctio veniam obcaecati
                quasi, tempore necessitatibus, adipisci deserunt, alias
                inventore rerum quisquam facilis quis incidunt.
              </p>
            </section>
          </article>

          <!-- Teachers Section -->
          <article
            data-item="observed"
            id="profesorado"
            class="mb-24 scroll-mt-28"
          >
            <h2
              class="mb-8 text-4xl font-semibold italic text-verano-secondary"
            >
              {teacherTitle}
            </h2>
            {
              teachers.map((teacher: any) => (
                <section class="mb-12 last:mb-0">
                  <h3 class="mb-6 text-2xl font-semibold text-verano-secondary ">
                    {teacher.name}
                  </h3>
                  <div class="grid grid-cols-[320px_1fr] gap-8">
                    <RevealImage
                      imageUrl={teacher.image}
                      bgColor="bg-verano-50"
                      alt={teacher.image_alt}
                      animationDuration={1.2}
                    />
                    <div class="marked text-lg">
                      <p set:html={marked(teacher.description)} />
                    </div>
                  </div>
                </section>
              ))
            }
          </article>

          <!-- Documents Section -->
          <article
            data-item="observed"
            id="documentos"
            class="mb-24 scroll-mt-28"
          >
            <h2
              class="mb-8 text-4xl font-semibold italic text-verano-secondary"
            >
              {documentTitle}
            </h2>
            <div class="flex flex-col">
              {
                documents.map((docItem: any) => (
                  <a
                    href={docItem.doc}
                    download
                    class="mb-6 py-4 px-6 rounded-full inline-flex w-fit gap-3 items-center justify-start hover:bg-verano-primary transition-colors duration-300 bg-verano-50"
                  >
                    <span class="text-xl font-semiboldNO">{docItem.name}</span>
                    <img
                      class="w-6"
                      src="/icons/arrow-down.svg"
                      alt="download document icon"
                    />
                  </a>
                ))
              }
            </div>
          </article>
        </div>
      </div>
    </Container>
  </main>
  <AsideNavObserver />
</Layout>
