---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/shared/Container.astro";
import { marked } from "marked";
import AsideNavObserver from "@/components/shared/AsideNavObserver.astro";
import RevealImage from "@/components/shared/RevealImage.astro";
import Gallery from "@/components/Gallery.astro";
import CustomCursor from "@/components/shared/CustomCursor.astro";
import FlipCard from "@/components/FlipCard.astro";

// Get the intro entry
const introEntry = await getEntry("verano", "intro");
const { title: introTitle, intro } = introEntry.data;

// Get the teachers entry
const teachersEntry = await getEntry("verano", "profesorado");
const { title: teacherTitle, teachers } = teachersEntry.data;

// Get the documents entry
const descargaEntry = await getEntry("verano", "descargas");
const { title: documentTitle, documents } = descargaEntry.data;

const sideNavigation = [
  { label: "Materias", href: "#materias" },
  { label: "Galería", href: "#galeria" },
  { label: "Información", href: "#informacion" },
  { label: "Profesorado", href: "#profesorado" },
  { label: "Documentos", href: "#documentos" },
];

const galleryConfig = {
  images: [
    {
      href: "/galleries/verano/1.jpg",
      src: "/galleries/verano/1.jpg",
      alt: "Placeholder Image 1",
    },
    {
      href: "/galleries/verano/2.jpg",
      src: "/galleries/verano/2.jpg",
      alt: "Placeholder Image 2",
    },
    {
      href: "/galleries/verano/3.jpg",
      src: "/galleries/verano/3.jpg",
      alt: "Placeholder Image 3",
    },
    {
      href: "/galleries/verano/4.jpg",
      src: "/galleries/verano/4.jpg",
      alt: "Placeholder Image 4",
    },
    {
      href: "/galleries/verano/5.jpg",
      src: "/galleries/verano/5.jpg",
      alt: "Placeholder Image 5",
    },
    {
      href: "/galleries/verano/6.jpg",
      src: "/galleries/verano/6.jpg",
      alt: "Placeholder Image 6",
    },
    {
      href: "/galleries/verano/7.jpg",
      src: "/galleries/verano/7.jpg",
      alt: "Placeholder Image 7",
    },
    {
      href: "/galleries/verano/8.jpg",
      src: "/galleries/verano/8.jpg",
      alt: "Placeholder Image 8",
    },
    {
      href: "/galleries/verano/9.jpg",
      src: "/galleries/verano/9.jpg",
      alt: "Placeholder Image 9",
    },
    {
      href: "/galleries/verano/10.jpg",
      src: "/galleries/verano/10.jpg",
      alt: "Placeholder Image 10",
    },
    {
      href: "/galleries/verano/11.jpg",
      src: "/galleries/verano/11.jpg",
      alt: "Placeholder Image 11",
    },
    {
      href: "/galleries/verano/12.jpg",
      src: "/galleries/verano/12.jpg",
      alt: "Placeholder Image 12",
    },
    {
      href: "/galleries/verano/13.jpg",
      src: "/galleries/verano/13.jpg",
      alt: "Placeholder Image 13",
    },
    {
      href: "/galleries/verano/14.jpg",
      src: "/galleries/verano/14.jpg",
      alt: "Placeholder Image 14",
    },
    {
      href: "/galleries/verano/15.jpg",
      src: "/galleries/verano/15.jpg",
      alt: "Placeholder Image 15",
    },
    {
      href: "/galleries/verano/16.jpg",
      src: "/galleries/verano/16.jpg",
      alt: "Placeholder Image 16",
    },
    {
      href: "/galleries/verano/17.jpg",
      src: "/galleries/verano/17.jpg",
      alt: "Placeholder Image 17",
    },
    {
      href: "/galleries/verano/18.jpg",
      src: "/galleries/verano/18.jpg",
      alt: "Placeholder Image 18",
    },
    {
      href: "/galleries/verano/19.jpg",
      src: "/galleries/verano/19.jpg",
      alt: "Placeholder Image 19",
    },
    {
      href: "/galleries/verano/20.jpg",
      src: "/galleries/verano/20.jpg",
      alt: "Placeholder Image 20",
    },
    {
      href: "/galleries/verano/21.jpg",
      src: "/galleries/verano/21.jpg",
      alt: "Placeholder Image 21",
    },
    {
      href: "/galleries/verano/22.jpg",
      src: "/galleries/verano/22.jpg",
      alt: "Placeholder Image 22",
    },
    {
      href: "/galleries/verano/23.jpg",
      src: "/galleries/verano/23.jpg",
      alt: "Placeholder Image 23",
    },
    {
      href: "/galleries/verano/24.jpg",
      src: "/galleries/verano/24.jpg",
      alt: "Placeholder Image 24",
    },
  ],
};
---

<style>
  .active {
    @apply bg-verano-primary;
    .arrow {
      width: 24px;
      opacity: 1;
      padding-right: 8px;
    }
  }
</style>
<Layout>
  <CustomCursor />
  <!-- <div
    class="absolute top-[71px] w-full h-24 z-20 bg-gradient-to-b from-verano-primary/30 to-verano-primary/0"
  >
  </div> -->
  <main class="relative z-10 bg-white shadow-main">
    <Container>
      <!-- Hero Section -->
      <article class="mt-20 lg:mt-36 mb-12 lg:mb-20 flex items-center">
        <h1 class="text-4xl md:text-6xl font-semibold italic">
          Aula viva - Escuela de verano
        </h1>
      </article>
      <article class="mb-12 lg:mb-28 scroll-mt-28">
        <div class="marked text-lg lg:columns-2">
          <p class="font-serif" set:html={marked(intro)} />
        </div>
        <!-- <h2 class="mb-4 lg:mb-8 text-4xl lg:text-5xl font-bold italic text-verano-secondary">
          {introTitle}
        </h2> -->
        <!-- <section class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div
            class="aspect-video relative overflow-hidden rounded-2xl clip-path-[fill-box] order-1 md:order-none"
            style="clip-path: fill-box;"
          >
            <video
              class="w-full h-full object-cover"
              loop
              autoplay
              muted
              playsinline
            >
              <source src="/video.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="marked text-lg order-2 lg:order-none">
            <p class="font-serif" set:html={marked(intro)} />
          </div>
        </section> -->
      </article>

      <div class="relative flex gap-8">
        <aside class="hidden lg:block h-fit w-1/6 sticky top-28">
          <nav id="menu-submenu" class="mb-[120px]">
            <ul class="flex flex-col gap-2">
              {
                sideNavigation.map((item: { label: string; href: string }) => (
                  <li
                    list-item={item.href.replace(/^#/, "")}
                    class="text-xl w-fit inline-flex items-center justify-start py-1 px-4 transition-all duration-300 rounded-full bg-verano-50 hover:bg-verano-primary"
                  >
                    <img
                      class="arrow w-0 opacity-0 transition-all duration-200"
                      src="/icons/arrow-right-bold.svg"
                      alt=""
                      aria-hidden="true"
                    />
                    <a href={item.href}>{item.label}</a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </aside>
        <div class="w-full lg:w-5/6">
          <!-- Materias Section -->
          <article
            data-item="observed"
            id="materias"
            class="mb-12 lg:mb-24 scroll-mt-28"
          >
            <h2
              class="mb-4 lg:mb-8 text-4xl lg:text-5xl font-bold italic text-verano-secondary"
            >
              Materias
            </h2>

            <div
              class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-4 lg:gap-8 mb-16 lg:mb-12"
            >
              <div class="max-w-[500px] mx-auto lg:max-w-none">
                <RevealImage
                  imageUrl="/verano-arte.jpg"
                  bgColor="bg-white"
                  alt="A beautiful scene"
                  animationDuration={1.5}
                  id="revela-materias"
                />
              </div>

              <div class="marked text-lg flex flex-col gap-4 justify-center">
                <h3
                  class="font-semibold text-3xl lg:text-4xl text-verano-secondary capitalize"
                >
                  Actividades artísticas
                </h3>
                <p class="font-serif">
                  Nos adentraremos en el mundo del arte a través de la
                  experimentación con distintos materiales y potenciando la
                  creatividad de cada alumno al mismo tiempo que iremos
                  adquiriendo destreza manual aplicada según la edad de cada
                  uno. Uniremos el concepto del arte y el del ecologismo
                  mediante la utilización de materiales reciclados encontrados
                  en el entorno
                </p>
                <div>
                  <a
                    class="inline py-1 px-4 bg-verano-50 no-underline rounded-full hover:bg-verano-primary transition-colors duration-300 text-xl"
                    href="/assets/pec_escola_destiu_cast_2025.pdf#page=18"
                    target="_blank"
                  >
                    Mas información
                  </a>
                </div>
              </div>
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-4 lg:gap-8 mb-16 lg:mb-12"
            >
              <div
                class="marked text-lg flex flex-col gap-4 justify-center order-2 lg:order-none"
              >
                <h3
                  class="font-semibold text-3xl lg:text-4xl text-verano-secondary capitalize"
                >
                  Actividades teatrales
                </h3>
                <p class="font-serif">
                  ¿Qué mejor manera de potenciar la creatividad que con el arte
                  y el teatro? Gracias al carácter plástico del teatro podremos
                  incluir otros valores como el trabajo en grupo, el diálogo, el
                  valorar tanto la propia opinión como la de los demás… en
                  definitiva dar herramientas contra los valores actuales de
                  esta sociedad: el SÍ y LOS DEMÁS TAMBIÉN frente al NO y el
                  SÓLO YO. Y todo a través del juego como herramienta de
                  aprendizaje.
                </p>
                <div>
                  <a
                    class="inline py-1 px-4 bg-verano-50 no-underline rounded-full hover:bg-verano-primary transition-colors duration-300 text-xl"
                    href="/assets/pec_escola_destiu_cast_2025.pdf#page=18"
                    target="_blank"
                  >
                    Mas información
                  </a>
                </div>
              </div>

              <div
                class="max-w-[500px] mx-auto lg:max-w-none order-1 lg:order-none"
              >
                <RevealImage
                  imageUrl="/verano-teatro.jpg"
                  bgColor="bg-white"
                  alt="A beautiful scene"
                  animationDuration={1.5}
                />
              </div>
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-4 lg:gap-8 mb-16 lg:mb-12"
            >
              <div class="max-w-[500px] mx-auto lg:max-w-none">
                <RevealImage
                  imageUrl="/verano-naturaleza.jpg"
                  bgColor="bg-white"
                  alt="A beautiful scene"
                  animationDuration={1.5}
                />
              </div>

              <div class="marked text-lg flex flex-col gap-4 justify-center">
                <h3
                  class="font-semibold text-3xl lg:text-4xl text-verano-secondary capitalize"
                >
                  Somos naturaleza
                </h3>
                <p class="font-serif">
                  Necesitamos la naturaleza para vivir. Hay que respetarla,
                  respirarla. Para poder vivir con armonía hace falta conocer la
                  naturaleza, observarla y escucharla. Porque cuidamos aquello
                  que amamos pero antes debemos conocerlo para poder amarlo.
                </p>
                <div>
                  <a
                    class="inline py-1 px-4 bg-verano-50 no-underline rounded-full hover:bg-verano-primary transition-colors duration-300 text-xl"
                    href="/assets/pec_escola_destiu_cast_2025.pdf#page=18"
                    target="_blank"
                  >
                    Mas información
                  </a>
                </div>
              </div>
            </div>
            <div
              class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-4 lg:gap-8 mb-16 lg:mb-12"
            >
              <div
                class="marked text-lg flex flex-col gap-4 justify-center order-2 lg:order-none"
              >
                <h3
                  class="font-semibold text-3xl lg:text-4xl text-verano-secondary capitalize"
                >
                  Y mucho mas!
                </h3>
                <p class="font-serif">
                  Y además, excursiones, juegos de mesa, juegos cooperativos,
                  corresponsales, asambleas, canciones, cuaderno de bitácora,
                  lecturas, minfullness y mucho más. Todo aquello que completa
                  educativamente para pasar el mejor verano.
                </p>
                <div>
                  <a
                    class="inline py-1 px-4 bg-verano-50 no-underline rounded-full hover:bg-verano-primary transition-colors duration-300 text-xl"
                    href="/assets/pec_escola_destiu_cast_2025.pdf#page=18"
                    target="_blank"
                  >
                    Mas información
                  </a>
                </div>
              </div>
              <div
                class="max-w-[500px] mx-auto lg:max-w-none order-1 lg:order-none"
              >
                <RevealImage
                  imageUrl="/verano-mas.jpg"
                  bgColor="bg-white"
                  alt="A beautiful scene"
                  animationDuration={1.5}
                />
              </div>
            </div>
          </article>

          <!-- Gallery Section -->
          <article
            data-item="observed"
            id="galeria"
            class="mb-12 lg:mb-24 scroll-mt-28"
          >
            <h2
              class="mb-4 lg:mb-8 text-4xl lg:text-5xl font-bold italic text-verano-secondary"
            >
              Galería de imágenes
            </h2>

            <div data-cursor-text="Ver imagen" data-cursor-color="#76FF03">
              <Gallery config={galleryConfig} />
            </div>
          </article>

          <!-- Informacion Section -->
          <article
            data-item="observed"
            id="informacion"
            class="mb-12 lg:mb-24 scroll-mt-28"
          >
            <h2
              class="mb-4 lg:mb-8 text-4xl lg:text-5xl font-bold italic text-verano-secondary"
            >
              Información
            </h2>

            <section class="flex flex-col md:flex-row gap-4 mb-4">
              <!-- Left Column -->
              <div class="flex flex-col gap-4 w-full md:w-1/2">
                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/lang.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Lengua vehícular:</span
                    > Catalán y Castellano
                  </span>
                </div>

                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/age.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Edades:</span
                    > de 6 a 13 años
                  </span>
                </div>

                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/clock.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Horario:</span
                    > De lunes a viernes de 9H a 14H. <br />
                    <span class="text-sm"
                      >Abrimos y cerramos con un cuarto de hora de margen.</span
                    >
                  </span>
                </div>

                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/pax.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Plazas:</span
                    > 20 plazas disponibles para niños y niñas
                  </span>
                </div>
              </div>

              <!-- Right Column -->
              <div class="flex flex-col gap-4 w-full md:w-1/2">
                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/phone.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Teléfono:</span
                    > 666 231 065 / 971 31 31 47
                  </span>
                </div>

                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/mail.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Email:</span
                    > artiteatre.nadiabanegas@gmail.com
                  </span>
                </div>

                <div class="flex items-start gap-2">
                  <img
                    class="w-6 mt-1"
                    src="/icons/marker.svg"
                    alt="download document icon"
                  />
                  <span class="text-xl">
                    <span class="font-semibold text-verano-secondary"
                      >Ubicación:</span
                    > Pasaje Isidoro Macabich, 20 bis 6º 3ª, 07800 Ibiza
                  </span>
                </div>
              </div>
            </section>
            <div class="flex items-start gap-2 mb-4">
              <img
                class="w-6 mt-1"
                src="/icons/save.svg"
                alt="download document icon"
              />
              <span class="text-xl font-semibold text-verano-secondary">
                Precios:
              </span>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12 mb-16">
              <FlipCard
                frontTitle="julio"
                iconName="julio"
                dates="del 1 martes al 31 jueves"
                price="460€"
                discountLink="/assets/pec_escola_destiu_cast_2025.pdf#page=38"
                discountText="Ver descuentos"
              />
              <FlipCard
                frontTitle="agosto"
                iconName="agosto"
                dates="del 1 viernes al 29 viernes"
                price="460€"
                discountLink="/assets/pec_escola_destiu_cast_2025.pdf#page=38"
                discountText="Ver descuentos"
              />
              <FlipCard
                frontTitle="julio & agosto"
                iconName="dosmeses"
                dates="del 1 de julio al 29 de agosto"
                price="920€"
                discountLink="/assets/pec_escola_destiu_cast_2025.pdf#page=38"
                discountText="Ver descuentos"
              />
              <FlipCard
                frontTitle="por semanas"
                iconName="semanas"
                dates="5 días seguidos"
                price="140€"
              />
            </div>
          </article>

          <!-- Teachers Section -->
          <article
            data-item="observed"
            id="profesorado"
            class="mb-12 lg:mb-24 scroll-mt-28"
          >
            <h2
              class="mb-4 lg:mb-8 text-4xl lg:text-5xl font-bold italic text-verano-secondary"
            >
              {teacherTitle}
            </h2>
            {
              teachers.map((teacher: any) => (
                <section class="mb-12 md:mb-20 last:mb-0">
                  <div class="grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-6 md:gap-8">
                    <div class="max-w-[500px]">
                      <RevealImage
                        imageUrl={teacher.image}
                        bgColor="bg-verano-50"
                        alt={teacher.image_alt}
                        animationDuration={1.2}
                      />
                    </div>
                    <div class="marked text-lg">
                      <h3 class="mb-4 md:mb-6 text-2xl md:text-3xl font-semibold text-verano-secondary">
                        {teacher.name}
                      </h3>
                      <p
                        class="font-serif"
                        set:html={marked(teacher.description)}
                      />
                    </div>
                  </div>
                </section>
              ))
            }
          </article>

          <!-- Documents Section -->
          <article
            data-item="observed"
            id="documentos"
            class="mb-12 lg:mb-24 scroll-mt-28"
          >
            <h2
              class="mb-4 lg:mb-8 text-4xl lg:text-5xl font-bold italic text-verano-secondary"
            >
              {documentTitle}
            </h2>
            <div class="flex flex-col">
              {
                documents.map((docItem: any) => (
                  <a
                    href={docItem.doc}
                    target="_blank"
                    class="mb-6 py-4 px-6 rounded-full inline-flex w-full md:w-fit gap-3 items-center justify-between md:justify-start hover:bg-verano-primary transition-colors duration-300 bg-verano-50"
                  >
                    <span class="text-xl font-semiboldNO">{docItem.name}</span>
                    <img
                      class="w-6"
                      src="/icons/arrow-down.svg"
                      alt="download document icon"
                    />
                  </a>
                ))
              }
            </div>
          </article>
        </div>
      </div>
    </Container>
  </main>
  <AsideNavObserver />
</Layout>
