---
import SocialLinks from "@/components/SocialLinks.astro";
import Link from "@/components/shared/Link.astro";
import presentation from "@/data/presentation";
import { SITE_URL } from "@/data/config";
---

<footer class="bg-white">
  <div class="mx-auto max-w-7xl px-4 pb-6 pt-16 lg:pt-24 border-t border-black">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
      <div>
        <div class="flex justify-center sm:justify-start">
          <a href="/">
            <img class="w-36" src="/logos/ait-logo.svg" alt="artiteatre Logo" />
          </a>
        </div>
      </div>

      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:col-span-2"
      >

          <ul class="space-y-4">
            <li>
              <a class="hover:underline" href="/arte">Arte</a>
            </li>

            <li>
              <a class="hover:underline" href="/teatro">Teatro</a>
            </li>

            <li>
              <a class="hover:underline" href="/escuela">Escuela de verano</a>
            </li>

            <li>
              <a class="hover:underline" href="/contacto">Contacto</a>
            </li>
          </ul>



          <ul role="list" class="space-y-4">
            {
              presentation.socials.map((social, index) => (
                <li>
                  <a class="hover:underline" href={social.link}>
                    {social.label}
                  </a>
                </li>
              ))
            }
          </ul>



          <ul class="space-y-4">
            <li>
              <span class="flex-1 break-all">
                <Link
                  href={`mailto:${presentation.mail}`}
                  label={presentation.mail}
                />
              </span>
            </li>

            <li>
              <a
                class="flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
                href="#"
              >
                <span class="flex-1">{presentation.phone}</span>
              </a>
            </li>

            <li
              class="flex items-start justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
            >
            <a
            class="inline-block text-black underline transition hover:no-underline"
            href={presentation.gmaps}
          > 
              <address class="-mt-0.5 flex-1 not-italic">
                
                {presentation.address}
              </address>
              </a>
            </li>
          </ul>

      </div>
    </div>

    <div class="mt-12 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-gray-600">
          <span class="block sm:inline">Todos los derechos reservados.</span>

          <a
            class="inline-block text-black underline transition hover:no-underline"
            href="#"
          >
            Aviso legal
          </a>

          <span>&middot;</span>

          <a
            class="inline-block text-black underline transition hover:no-underline"
            href="#"
          >
            Política de privacidad
          </a>
        </p>

        <p class="mt-4 text-sm text-gray-600 sm:order-first sm:mt-0">
          &copy; 2025 artiteatre
        </p>
      </div>
    </div>
  </div>
</footer>
