---
import { twMerge } from "tailwind-merge";

export interface Props {
  href: string;
  shapeClass: string;
  bgColor: string;
  imgSrc: string;
  imgAlt: string;
  imgClass?: string;
  cursorText?: string;
  cursorColor?: string;
}

const {
  href,
  shapeClass,
  bgColor,
  imgSrc,
  imgAlt,
  imgClass,
  cursorText,
  cursorColor,
} = Astro.props;

const baseClass = "w-2/3";
const mergedClass = twMerge(baseClass, imgClass);
---

<a
  href={href}
  class="shapes-item aspect-square relative inline-block"
  data-cursor-text={cursorText}
  data-cursor-color={cursorColor}
>
  <div class={`shape ${shapeClass} ${bgColor} absolute inset-0`}></div>
  <div class="absolute inset-0 flex items-center justify-center z-10">
    <img class={`${mergedClass}`} src={imgSrc} alt={imgAlt} />
  </div>
</a>
